<footer class="bg-gray-900/80 shadow-md ">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a
                href="#"
                class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse"
            >
                <img
                    src="../../public/jt-tech-logo.svg"
                    class="h-12"
                    alt="developer Logo"
                />
                <h4
                    class="self-center text-2xl font-light whitespace-nowrap text-white"
                >
                    Jefferson <span
                        class="self-center text-2xl font-light whitespace-nowrap text-teal-500"
                    >
                        Developer</span
                    >
                </h4>
            </a>
            <ul
                class="flex flex-wrap items-center mb-6 text-2sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400"
            >
                <li>
                    <a
                        href="#inicio"
                        class="hover:underline hover:text-teal-500 me-4 md:me-6"
                        >Home</a
                    >
                </li>
                <li>
                    <a
                        href="#proyect"
                        class="hover:underline hover:text-teal-500 me-4 md:me-6"
                        >Proyect</a
                    >
                </li>
                <li>
                    <a
                        href="#"
                        class="hover:underline hover:text-teal-500 me-4 md:me-6"
                        >About</a
                    >
                </li>
                <li>
                    <a href="#" class="hover:underline hover:text-teal-500"
                        >Contact</a
                    >
                </li>
            </ul>
        </div>
        <hr
            class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8"
        />
        <span
            class="block text-sm text-gray-500 sm:text-center dark:text-gray-400"
            >© 2025 <a href="#" class="hover:underline hover:text-teal-500"
                >Jefferson Developer
            </a>. All Rights Reserved.</span
        >
    </div>
</footer>
