<a
    class="rounded-full gap-x-1 py-1 sm:py-1 px-2 sm:px-2 cursor-pointer mb-6
    transform text-sm sm:text-xl
    hover:scale-110 hover:text-teal-500 
    transition duration-100 ease"
    {...Astro.props}
    target="_blank"
    rel="noopener noreferrer"
>
    <slot />
</a>
